<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <input type="number" [(ngModel)]="param1" /> <br><br>
    <input type="number" [(ngModel)]="param2" /> <br><br>

    <button ion-button full (click)="testAdd(param1, param2)">Add</button> &nbsp;&nbsp;&nbsp;
    <button ion-button full (click)="testSubtract(param1, param2)">Subtract</button>&nbsp;&nbsp;&nbsp;
    <button ion-button full (click)="testCool(param1)">Say Hello</button>
  </div>
</ion-content>
